body {
  margin: 0px;
  padding: 0px;
  background-color: white;
  background-repeat: no;
}
.bandeau
{
    height: 50px;
    width: 100%;
    background-color: white;
    position: fixed;
    vertical-align: middle;
    text-align: right;
}
.loginPanel
{
    text-align: right;
    padding-top: 10px;
    float: right;
    margin-right: 15px;
}
.bandeau
{
    text-align: right;
}
